<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CollaTool - 프로젝트</title>
  <link rel="stylesheet" href="/project/chatgpt.css">

  <!-- Add the Bootstrap CDN link -->
  <script th:inline="javascript">
    /* Function to calculate the progress in percentage */
    function calculateProgress() {
      var stardDateStr = $("#pCreated").val();
      var endDateStr = $("#pDeadline").val();
      var startDate = new Date(stardDateStr);
      var endDate = new Date(endDateStr);
      var currentDate = new Date();

      // Calculate the total duration between startDate and endDate
      var totalDuration = endDate.getTime() - startDate.getTime();
      // Calculate the duration between startDate and currentDate
      var currentDuration = currentDate.getTime() - startDate.getTime();

      // Calculate the progress percentage
      var progress = (currentDuration / totalDuration) * 100;
      // Round the progress to two decimal places
      return progress.toFixed(2);
    }
  </script>
<body>
  <th:block th:replace="~{fragments/sidebar :: sidebarFragment}"></th:block>
  <main class="col-lg-10 content">
    <input type="hidden" id="bCategory" th:value="${session.project.pCategory}">
    <input type="hidden" id="projectId" th:value="${session.project.projectId}">
    <!-- Your project-specific content goes here -->
    <h1>프로젝트 정보</h1>
    <p>프로젝트명: <span th:text="${project.pName}"></span></p>
    <p>종류: <span th:text="${project.pCategory}"></span></p>
    <p>설명: <span th:text="${project.pDescript}"></span></p>
    <p>시작일: <span th:text="${project.pCreated}"></span></p>
    <p>마감일: <span th:text="${project.pDeadline}"></span></p>
    <input type="hidden" id="pCreated" th:value="${project.pCreated}">
    <input type="hidden" id="pDeadline" th:value="${project.pDeadline}">
<!--    <div class="progress-container">-->
<!--      <div class="progress-bar" role="progressbar" th:style="'width: ' + ${progress} + '%'"-->
<!--           th:text="${progress} + '%'"></div>-->
<!--      <div class="start-date" id="startDate" th:text="${project.pCreated}"></div>-->
<!--      <div class="end-date" id="endDate" th:text="${project.pDeadline}"></div>-->
<!--    </div>-->
    <div class="container mx-5" style="max-width: 90%">
      <div class="progress">
        <div class="progress-bar" role="progressbar" th:style="'width: ' + ${progress} + '.1%'"
                     th:text="${progress} + '%'"></div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div class="start-date" id="startDate" th:text="${project.pCreated}"></div>
        <div class="end-date" id="endDate" th:text="${project.pDeadline}"></div>
      </div>
    </div>
    <hr>
    <div class="pMember mt-5">
      <h2>프로젝트 멤버명단</h2>
      <div th:each="member:${pMembers}">
        <p>
          <span th:if="${member.uPosition == '팀장'}">팀장 - </span>
          <span th:unless="${member.uPosition == '팀장'}">팀원 - </span>
          <span th:text="${member.uName}"></span>
        </p>
      </div>
      <button type="button" class="btn btn-primary mb-2 mt-2" onclick="addMember()">+ 멤버 추가</button>
    </div>

  </main>
  <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
<script src="/project/chatgpt.js"></script>
<script>
  function addMember(){
    var pop = window.open("/project/addMember","pop","width=600,height=600, scrollbars=yes, resizable=no");
  }
</script>
</html>
