<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollaTool - TodoList</title>
</head>
<body>
<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

    <main class="col-lg-10 content">
        <!-- Your project-specific content goes here -->
        <h1>할 일 목록</h1>


    </main>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>