<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CollaTool - 로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script type="text/javascript" src="/login/jquery.min.js"></script>
    <script type="text/javascript" src="/login/login.js"></script>
</head>
<body class="text-center align-middle">

<!--    <input th:if="${param.register}" type="hidden" id="register" th:value="${register}">-->
    <input th:if="${param.register}" type="hidden" id="register" value="ok">
<!--    <input th:if="${param.login_try}" type="hidden" id="login_try" th:value="${login_try}">-->
    <input th:if="${param.login_try}" type="hidden" id="login_try" value="no">
    <input th:if="${param.login_fail}" type="hidden" id="login_fail" value="fail">

    <main class="form-signin m-auto" id="login_table" style="width: 300px">
<!--        <form method="post" id="frm_login" action="/login/process">-->
        <form method="post" id="frm_login" action="/login/process">
            <h1 class="h3 mb-3 fw-normal">로그인</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="uId" name="uId" placeholder="ID">
                <label for="uId">사용자 ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="uPwd" name="uPwd" placeholder="Password">
                <label for="uPwd">비밀번호</label>
            </div>
            <div class="checkbox mb-3 mt-3">
                <a href="" onclick="findId()">아이디 찾기 </a> /
                <a href="" onclick="findPassword()">비밀번호 찾기</a>
<!--                <input type="button" class="btn btn-secondary" value="회원가입" onclick="javascript:location.href='./register_page'"> <br>-->
                <a href="./register_page">| 회원가입</a>
            </div>
            <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Sign in</button>

        </form>
    </main>
    <div align="center">
        <button onclick="logout()" id="logout_btn" class="btn btn-secondary btn-lg" style="display: none">로그아웃</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
    $(function() {
        var login_try = $("#login_try").val();
        var login_fail = $("#login_fail").val();
        var register = $("#register").val();
        var blur = $("#blur").val();

        //로그인 시도한 전적이 있으면 알림
        if(login_fail == "fail"){
            alert("로그인 실패! \n아이디 또는 비밀번호를 확인해주세요.");
            window.location.href="/login/view";
        }
        if(login_try == "no"){
            alert("로그인 후 이용할 수 있는 서비스입니다.");
            window.location.href="/login/view";
        }
        //회원가입 성공 후 넘어왔을 때 알림
        if(register == "ok"){
            alert("회원가입 성공! \n로그인 후 서비스를 이용해주세요.");
            window.location.href="/login/view";
        }

        if(blur == 'yes'){
            alert("로그인 실패! \n신고건이 접수되어 계정이 3일간 정지됩니다.\n정지기간: ~ "+$("#suspension").val());
            window.location.href="/login/view";
        }

        // 세션에 저장된 유저 정보에 따라 로그인, 로그아웃 출력
        var user = $("#user").val();
        var login_table = $("#login_table");
        var logout_btn = $("#logout_btn");

        if(user == null || user == ""){     //로그인 상태가 아니라면
        }else{
            login_table.css('display','none');
            logout_btn.css('display','inline-block');
        }
    });
</script>
</html>

